USE [master]
GO
/****** Object:  Database [OpticaDBCabrera]    Script Date: 24/9/2026 19:42:04 ******/
CREATE DATABASE [OpticaDBCabrera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpticaDBCabrera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OpticaDBCabrera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'OpticaDBCabrera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OpticaDBCabrera_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpticaDBCabrera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpticaDBCabrera]
GO
/****** Object:  Table [dbo].[Armazones]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armazones](
	[IdArmazon] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](40) NOT NULL,
	[Modelo] [nvarchar](60) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Armazones] PRIMARY KEY CLUSTERED 
(
	[IdArmazon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](80) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[IdArmazon] [int] NOT NULL,
	[TipoCristal] [nvarchar](30) NOT NULL,
	[PrecioTotal] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Armazones] ON 

INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (1, N'Vulk', N'Radar negro mate', CAST(98000.00 AS Decimal(12, 2)), 6)
INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (2, N'Ray-Ban', N'Wayfarer clásico', CAST(260000.00 AS Decimal(12, 2)), 3)
INSERT [dbo].[Armazones] ([IdArmazon], [Marca], [Modelo], [Precio], [Stock]) VALUES (3, N'Infinit', N'Palermo acetato', CAST(145000.00 AS Decimal(12, 2)), 4)
SET IDENTITY_INSERT [dbo].[Armazones] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (1, N'Elsa Domínguez', N'3573-410233', 2, N'Progresivo', CAST(415000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-14T16:58:24.560' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (2, N'Braian Quinteros', N'351-6002148', 4, N'Monofocal', CAST(129000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-17T16:58:24.560' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Telefono], [IdArmazon], [TipoCristal], [PrecioTotal], [Estado], [FechaPedido]) VALUES (3, N'Nora Cavigliasso', N'3573-455812', 1, N'Bifocal', CAST(182000.00 AS Decimal(12, 2)), N'Entregado', CAST(N'2026-09-19T16:58:24.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Armazones] FOREIGN KEY([IdArmazon])
REFERENCES [dbo].[Armazones] ([IdArmazon])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Armazones]
GO
ALTER TABLE [dbo].[Armazones]  WITH CHECK ADD  CONSTRAINT [CK_Armazones_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Armazones] CHECK CONSTRAINT [CK_Armazones_Precio]
GO
ALTER TABLE [dbo].[Armazones]  WITH CHECK ADD  CONSTRAINT [CK_Armazones_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Armazones] CHECK CONSTRAINT [CK_Armazones_Stock]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Cristales] CHECK  (([TipoCristal]='Sol' OR [TipoCristal]='Progresivo' OR [TipoCristal]='Bifocal' OR [TipoCristal]='Monofocal'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Cristales]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Estado] CHECK  (([Estado]='Entregado' OR [Estado]='Listo' OR [Estado]='Encargado'))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Estado]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_Precio] CHECK  (([PrecioTotal]>(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_Precio]
GO
/****** Object:  StoredProcedure [dbo].[usp_AvanzarPedido]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[usp_AvanzarPedido]
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @Estado NVARCHAR(20);

        SELECT @Estado = Estado FROM dbo.Pedidos WHERE IdPedido = @IdPedido;

        IF @Estado IS NULL
        BEGIN
            THROW 50024, N'El pedido indicado no existe.', 1;
        END;

        IF @Estado = N'Entregado'
        BEGIN
            THROW 50025, N'El pedido ya fue entregado: no hay más pasos.', 1;
        END;

        UPDATE dbo.Pedidos
        SET Estado = CASE Estado
            WHEN N'Encargado' THEN N'Listo'
            ELSE N'Entregado'
        END
        WHERE IdPedido = @IdPedido;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearPedido]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CrearPedido]
    @Cliente     NVARCHAR(80),
    @Telefono    NVARCHAR(20),
    @IdArmazon   INT,
    @TipoCristal NVARCHAR(30),
    @PrecioTotal DECIMAL(12, 2),
    @IdPedido    INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = N''
        BEGIN
            THROW 50020, N'El nombre del cliente no puede estar vacío.', 1;
        END;

        IF @PrecioTotal IS NULL OR @PrecioTotal <= 0
        BEGIN
            THROW 50020, N'El precio total debe ser mayor a cero.', 1;
        END;

        DECLARE @Stock INT;

        SELECT @Stock = Stock
        FROM dbo.Armazones
        WHERE IdArmazon = @IdArmazon;

        IF @Stock IS NULL
        BEGIN
            THROW 50022, N'El armazón indicado no existe.', 1;
        END;

        IF @Stock = 0
        BEGIN
            THROW 50023, N'El armazón elegido no tiene stock.', 1;
        END;

        UPDATE dbo.Armazones
        SET Stock = Stock - 1
        WHERE IdArmazon = @IdArmazon;

        INSERT INTO dbo.Pedidos
            (Cliente, Telefono, IdArmazon, TipoCristal, PrecioTotal, Estado, FechaPedido)
        VALUES
            (LTRIM(RTRIM(@Cliente)), @Telefono, @IdArmazon, @TipoCristal, @PrecioTotal, N'Encargado', GETDATE());

        SET @IdPedido = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarArmazones]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ListarArmazones]
as begin
set  nocount on; 

Select IdArmazon,Marca,Modelo,Precio,Stock
from Armazones
order by Marca asc, Modelo asc;
end;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPedidos]    Script Date: 24/9/2026 19:42:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[usp_ListarPedidos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdPedido,
        P.Cliente,
        P.Telefono,
        P.TipoCristal,
        P.PrecioTotal,
        P.Estado,
        P.FechaPedido,
        A.Marca,
        A.Modelo
    FROM dbo.Pedidos AS P
    INNER JOIN dbo.Armazones AS A ON A.IdArmazon = P.IdArmazon
    ORDER BY
        CASE P.Estado
            WHEN N'Encargado' THEN 1
            WHEN N'Listo' THEN 2
            ELSE 3
        END ASC,
        P.FechaPedido DESC;
END;
GO
USE [master]
GO
